/* 
    Author: BitWilder Tech;
    Theme: Acme Corp Website
    Version: 1.0;
 */

 /* Import montserrat font from google fonts */
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

 :root {
    /* variables */
    --primary-white: #edf0f1;
    --primary-red: #e10a0a;
    --primary-blue: #00a6ff;
    --primary-hot-pink: #ff4fba;
    --background-black: #0A0A0A;
    --section-margin: 1.5rem 0;
 }

 /* General CSS Section */
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     background-color: var(--background-black);
     font-family: "Montserrat", sans-serif;
     font-weight: 500;
     font-size: 16px;
     color: var(--primary-white);

     text-decoration: none;
     list-style-type: none;
 }
body {
    animation: loadPageWell 0.75s;
}

 @keyframes loadPageWell {
     from {
        opacity: 0;
        transform: translateY(-10px);
     }

     to {
        opacity: 1;
        transform: translateY(0);
     }
 }
 .text-center {
     text-align: center;
 }
 .bg-text {
    font-size: 3rem;
    font-weight: 800;
    line-height: 4rem;
}
 hr {
     color: var(--primary-white);
 }
 img {
     max-width: 100%;
 }

/* Logo Section */
.container {
    padding: 0 3%;
    margin: 0 1rem;
}
.hamburger-logo > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 11%;
    order: 1;
    padding: .5rem 0;
}
.atl-logo {
    width: 7%;
    padding: .3rem 0;
}

/* Ham-Menu Section */
.ham-menu {
    position: relative;
    padding: 1rem 0;
}
.menu {
    position: absolute;
    width: 150px;
    top: 3rem;
    right: 0;
    text-align: right;
    display: none;
}
.menu a {
    display: block;
    line-height: 2rem;
    transition: all .4s ease;
    padding: .5rem 0;
    border-radius: 5px;
}
.menu a:hover {
    background-color: rgba(57, 118, 151, 0.5);
    color: #fff;
    padding-right: 15px;
}

/* Navbar Section */
.nav-links {
    display: flex;
    border: 1px solid var(--primary-white);
}
.nav-links li, .nav-links a {
    font-size: .8rem;
    font-weight: 300;
}
.nav-links li {
    flex: 1;
    padding: .5rem 1rem;
    position: relative;
    transition: all .4s ease;
}
.nav-links > li {
    text-align: center;
}
.nav-links li a {
    padding: .5rem 0;
    transition: all .4s ease;
}
.nav-links li a:hover {
    color: var(--primary-red);
    padding: .5rem .5rem;
}
.atl-nav-links li a:hover {
    color: var(--primary-hot-pink);
}
.services-dropdown {
    border-left: 5px solid var(--primary-blue);
    border-radius: 3px;
    display: none;
    transition: all .3s ease;
}
.atl-services-dropdown {
    border-left: 5px solid var(--primary-blue);
}
.services-dropdown {
    transition: all .4s ease;
}
.nav-links li:hover > .services-dropdown {
    display: block;
    position: absolute;
    left: 60px;
    top: 33px;
    text-align: left;
}
.companies-dropdown {
    border-left: 5px solid var(--primary-blue);
    border-radius: 3px;
    display: none;
}
.nav-links li:hover > .companies-dropdown {
    display: block;
    position: absolute;
    left: 55px;
    top: 33px;
    text-align: left;
}

/* Header Section */
.header {
    margin: var(--section-margin);
    padding: 0 0 2.5rem;
}
.header .container {
    display: flex;
    flex-wrap: wrap;
}
.header-image {
    width: 50%;
    border-radius: 5px;
    /* border-right: 5px solid var(--primary-blue); */
}
.header-1 {
    color: var(--primary-blue);
}
.contact-header {
    text-align: center;
}
.atl-header-1 {
    color: var(--primary-hot-pink);
}
.header-caption {
    width: 50%;
    text-align: center;
    padding: 2rem;
}
.contact-caption {
    text-align: left;
    padding: 1.5rem;
    line-height: 2rem;
}
.header-caption h2 {
    padding: 1.5rem 0 2rem;
}
.call-to-action a {
    transition: all 300ms ease;
}
.call-to-action a:hover {
    color: var(--primary-blue);
}
.atl-call-to-action a:hover {
    color: var(--primary-blue);
}

/* Companies Section */
.companies {
    margin: var(--section-margin);
}
.companies-heading {
    font-size: 2rem;
    margin: 1rem 0 2rem;
}
.card-container-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1rem;
}
.card {
    margin: 1rem 0;
    width: 20%;
    min-width: 200px;
    border-radius: 7px;
    text-align: center;
    line-height: 1rem;
    box-shadow: 0 0 5px var(--primary-white);
    transition: all .4s ease;
}
#card-1 {
    margin: 1rem;
    padding-top: 1rem;
}
#card-2 {
    margin: 1rem;
    padding-top: 3rem;
}
#card-3 {
    margin: 1rem;
    padding-top: 2rem;
}
.card:hover {
    box-shadow: 0 0 10px var(--primary-white);
}
.card-image {
    width: 100%;
    padding-bottom: 1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card-text > * {
    /* border: 1px solid white; */
    margin: 1rem 0 1rem;
    padding: .6rem 2%;
}
.card-text h2 a {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--primary-blue);
    transition: color .4s ease;
}
.card-text h2 a:hover {
    color:var(--primary-red);
}
.atl-card-text h2 a:hover {
    color: var(--primary-hot-pink);
}
.card-text p {
    font-size: .8rem;
    line-height: 1.5rem;
}
.card-footer {
    height: 30px;
    margin: 1rem .4rem 0;
}

/* Rounded Logo Section */
.rounded-logo .container {
    text-align: center;
    padding: 1rem 0;
}
.rounded-logo .acme-rounded-logo, .rounded-logo .atlantis-rounded-logo {
    width: 200px;
}
.rounded-logo h2 {
    font-size: 1.3rem;
    font-weight: 800;
    line-height: 3rem;
}
.rounded-logo p {
    line-height: 3rem;
}

/* Links Section */
.footer-links .container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    line-height: 3rem;
    /* padding: 4rem 0; */
}
.links {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 50%;
}
.quote {
    width: 50%;
}
.services-links {
    width: 40%;
}
.companies-links {
    width: 60%;
}
.links ul li a {
    transition: all .4s ease;
    border-left: 5px solid var(--primary-red);
}
.atl-links ul li a {
    transition: all .4s ease;
    border-left: 5px solid var(--primary-hot-pink);
}
.links ul li a {
    padding: 1rem;
}
.links ul li a:hover {
    color: var(--primary-blue);
    padding-left: 1.5rem;
}

/* Socials Section */
.socials {
    margin: var(--section-margin) 1rem;
}
.socials .container {
    text-align: center;
}
.socials .container a {
    padding: 0 1.5rem;
}
.socials .container a img {
    width: 1.5rem;
}

/* Footer Section */
.footer .container {
    text-align: center;
}
.footer .container p {
    font-size: .8rem;
    padding: .8rem;
    border-top: 1px solid var(--primary-blue);
}
@media (max-width: 1250px) {
    .nav-links li:hover > .services-dropdown {
        left: 40px;
    }
    .nav-links li:hover > .companies-dropdown {
        left: 30px;
    }
}

@media (max-width: 1100px) {
    .bg-text {
        font-size: 2rem;
        font-weight: 600;
    }
    .nav-links li:hover > .services-dropdown {
        left: 20px;
    }
    .nav-links li:hover > .companies-dropdown {
        left: 10px;
    }
    .card {
        margin: 0 auto;
    }
    .links {
        width: 50%;
        min-width: 400px;
    }
    .links ul li a {
        border-left: 0;
    }
    .quote {
        min-width: 400px;
    }
}

@media (max-width: 1000px) {
    .container {
        margin: 1.5rem 0 2rem;
        min-width: 350px;
    }
    .navbar {
        display: none;
    }
    .ham-menu:hover .menu {
        display: block;
    }
    .header-caption {
        width: 100%;
    }
    .header-image {
        width: 100%;
    }
    .logo {
        width: 40%;
    }
    .atl-logo {
        width: 35%;
    }
    .links {
        padding: 1rem 0;
       margin: 0 auto;
       text-align: center;
    }
    .quote {
        padding: 1rem 0;
        margin: 0 auto;
        text-align: center;
    }
    .social {
        margin: var(--section-margin) 0;
    }
    .socials .container {
        margin: var(--section-margin) 0;
        padding: 0;
    }
}
@media (max-width: 700px) {
    .logo {
        width: 30%;
    }
    .atl-logo {
        width: 40%;
    }
    .footer a {
        font-size: .6rem;
    }
}

@media (max-width: 400px) {
    .logo {
        width: 60%;
    }
    .atl-logo {
        width: 45%;
    }
    .services-links {
        width: 100%;
    }
}












