/* 
    Author: BitWilderTech;
    Theme: Acme Corp Website
    Version: 1.0;
 */

 /* Import montserrat font from google fonts */
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

 /* General CSS Section */
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     background-color: #24252A;
     font-family: "Montserrat", sans-serif;
     font-weight: 500;
     font-size: 16px;
     color: #edf0f1;
     text-decoration: none;
     list-style-type: none;
 }
 .text-center {
     text-align: center;
 }
 hr {
     color: #edf0f1;
 }

/* Header Section */
.container {
    padding: 5px 3%;
    /* border: 1px solid white; */
}
.hamburger-logo > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 80%;
    order: 1;
}
.hamburger {
    order: 2;
}

/* Navbar Section */
.nav-links {
    display: flex;
    box-shadow: 0 0 10px #ffffff;
}
.nav-links li {
    flex: 1;
    padding: 10px 0;
    text-align: center;
}
.nav-links li a {
    position: relative;
}
.nav-links li a:hover {
    transition: all .3s ease;
    color: #e10a0a;
    padding: 
}
.nav-links li a:hover > .services-dropdown {
    display: block;
    position: absolute;
}
.services-dropdown {
    display: none;
}

/* Header Section */
.header {
    background-color: #e10a0a;
}
.header > .container {
    display: flex;
    gap: 2rem;
}
.header-image {
    width: 60%;
}
.header-caption {
    width: 40%;
}
























